{% extends "layout.html" %}
{% block title %}Contact Details{% endblock %}
{% block content%}
  <section class="wrapper">
    <div class="container container-padded">
      <div class="top">
        <h1 class="page__title">Contact your Senators/Congress Rep.</h1>
      </div>
      <div class="content">
        <img class="action-img" src="/static/images/contacts-sort-by.png" alt="sort">
      <table style="width:100%">
        <tr>
          <th>State</th>
          <th>Senator/Congress Member Name</th>
          <th>Office Address</th>
          <th>Phone Num. & Email address</th>
        </tr>
        <tr>
          <td>AL</td>
          <td>Ben. A. Williams</td>
          <td>123 Senate Office Building <br> Washington DC 20510</td>
          <td>(202) 224-5042 <br>benwilliams@al.gov</td>
        </tr>
        <tr>
          <td>AZ</td>
          <td>Ben. B. Dover</td>
          <td>123 Senate Office Building <br> Washington DC 20510</td>
          <td>(202) 224-5042 <br>bendwilliams@az.gov</td>
        </tr>
        <tr>
          <td>AR</td>
          <td>Ben. C. Williams</td>
          <td>123 Senate Office Building <br> Washington DC 20510</td>
          <td>(202) 224-5042 <br>benwilliams@ar.gov</td>
        </tr>
        <tr>
          <td>CA</td>
          <td>Ben. D. Williams</td>
          <td>123 Senate Office Building <br> Washington DC 20510</td>
          <td>(202) 224-5042 <br>benwilliams@ca.gov</td>
        </tr>        
        <tr>
          <td>CO</td>
          <td>Ben. E. Williams</td>
          <td>123 Senate Office Building <br> Washington DC 20510</td>
          <td>(202) 224-5042 <br>benwilliams@co.gov</td>
        </tr>        
        <tr>
          <td>CT</td>
          <td>Ben. F. Williams</td>
          <td>123 Senate Office Building <br> Washington DC 20510</td>
          <td>(202) 224-5042 <br>benwilliams@ct.gov</td>
        </tr>
        </table>
      </div>
    </div>
  </section>

{% endblock %}
